.not-found-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.glass-card {
  text-align: center;
  padding: 40px 60px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(5px); 
}

.error-code {
  font-size: 6rem;
  font-weight: 800;
  color: var(--text-accent); 
  line-height: 1;
}

h2 {
  color: #aaa;
  font-weight: 400;
  margin-top: 10px;
}