<div class="auth-container">
    <h2>Welcome Back</h2>
    
    <!-- 
    se mai volessi aggiungere il login con google un giornos
    <div class="form-group">
        <button type="button" class="base-button btn-social">
            <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" width="20" height="20">
            <span>Sign in with Google</span>
        </button>
    </div> -->
 
    <div class="separator">
        <span>or continue with email</span>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
            <label for="login-email">Email</label>
            <input class="form-input" 
                   type="email" 
                   id="login-email" 
                   placeholder="name@example.com"
                   [(ngModel)]="email" 
                   name="email" 
                   #emailInput="ngModel" 
                   required 
                   email>
            
            <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error-msg">
              <span *ngIf="emailInput.errors?.['required']">Email is required</span>
              <span *ngIf="emailInput.errors?.['email']">Enter a valid email</span>
            </div>
        </div>
        
        <div class="form-group">
            <div style="display: flex; justify-content: space-between; align-items: baseline;">
                <label for="login-password">Password</label>
                <a routerLink="/forgot-password" style="font-size: 0.8rem; color: #8b5cf6;">Forgot?</a>
            </div>
            
            <input class="form-input" 
                   type="password" 
                   id="login-password" 
                   placeholder="••••••••"
                   [(ngModel)]="password"
                   name="password" 
                   #passwordInput="ngModel" 
                   required>
            
            <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-msg">
                <span>Password is required</span>
            </div>
        </div>
        
        <button type="submit" 
                class="base-button btn-primary" 
                [disabled]="loginForm.invalid">
            Log In
        </button>
    </form>
    
    <div class="auth-links-bottom">
        Don't have an account? <a routerLink="/register">Sign Up</a>
    </div>
</div>