<header class="header">
    <div class="header__left">
        <img src="logo.png" alt="MemeMuseum Logo" class="logo" routerLink="/"/>
    </div>
    
    <div class="header__center">
        <h1 class="brand-title">MEME MUSEUM</h1>
    </div>
    
    <div class="header__right">
        <ng-container *ngIf="user$ | async as user; else guest">
            <div class="user-profile">
                <span class="username">{{ user.username }}</span>
                
                <mat-icon 
                    aria-label="profile page" 
                    fontIcon="person" 
                    (click)="handleProfileIconClick()"
                    class="action-icon">
                </mat-icon>
                
                <button (click)="logout()" class="btn-text">Logout</button>
            </div>
        </ng-container>

        <ng-template #guest>
            <div class="auth-links">
                <a routerLink="/login" class="btn btn-ghost">Login</a>
                <a routerLink="/register" class="btn btn-primary">Sign Up</a>
            </div>
        </ng-template>
    </div>
</header>